<div class="col-md-6 col-md-offset-3" class="container">
  <h2>Reset Password</h2>


  <form #form="ngForm" (submit)="resetPassword(form)" class="username-margin">
    <mat-form-field class="material-input-width" [class.invalid]="password.touched && password.invalid">
      <mat-label>New Password</mat-label>
      <input matInput #password="ngModel" type="password" placeholder="Enter your Password" name="password" [(ngModel)]="model.password"
        id="password" required>
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required</div>
    </mat-form-field>



    <mat-form-field class="material-input-width" [class.invalid]="confirmPassword.dirty && (model.password != model.confirmPassword)">
      <mat-label>Confirm Password</mat-label>
      <input matInput #confirmPassword="ngModel" type="password" placeholder="Confirm Password" name="confirmPassword"
        id="confirmPassword" [(ngModel)]="model.confirmPassword" required>
      <div *ngIf="confirmPassword.dirty && (model.password != model.confirmPassword) " class="alert alert-danger">password
        do not match</div>
    </mat-form-field>


    <button mat-raised-button class type="submit" [disabled]="form.invalid" class="btn btn-primary btn-margin"> Confirm</button>
  </form>
</div>
