
<div class="col-md-6 col-md-offset-3" class="container">
  <h2>Reset Password</h2>
  <form #form="ngForm" (submit)="resetPassword(form)" class="username-margin">
<label>New Password</label>
<div class="form-group password">
 <!--  <input type="password" placeholder="New Password"
   #password="ngModel" class="form-control" name="password" 
   required [(ngModel)]="password" id="usernameEmail"> -->
   <input #password="ngModel" type="password" class="form-control" name="password" placeholder="Enter Password"
     required [(ngModel)]="model.password" id="password">
    </div> <br>

    <mat-form-field class="material-input-width" [class.invalid]="confirmpassword.dirty && (model.password != model.confirmpassword)">
      <mat-label>Confirm Password</mat-label>
      <input matInput #confirmPassword="ngModel" type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword"
        [(ngModel)]="model.confirmPassword" required>
        <div *ngIf="confirmPassword.dirty && (model.password != model.confirmPassword) " class="alert alert-danger">password
          do not match</div>
    </mat-form-field>


<button mat-raised-button class type="submit" [disabled]="form.invalid" class="btn btn-primary btn-margin"> Confirm</button>
</form>
</div>
