<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/">Collections</a>
      </li>
      <li  *ngIf="loggedInStatus()" class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/search" >Create collection</a>
      </li>
      <li *ngIf="loggedInStatus()" class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/filters">Filters</a>
        </li>
      <li class="nav-item" routerLinkActive="active current">
         <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li *ngIf="!loggedInStatus()" class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/login" >Login</a>
      </li>
      <li *ngIf="loggedInStatus()" ngbDropdown class="nav-item dropdown float-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="/collection">My Collections</a>
          <a class="dropdown-item" routerLink="/logout">Logout</a>
         </div>
      </li>
    </ul>
    <img src = "assets/abm_logo.jpg" class="img-click" routerLink="/" width="60px" height="60px" alt="ABM" align="right">
  </div>
</nav>