<section>

  <div style="max-height:1000px;overflow:auto">
    <h2 class="float-left" style="margin-top:0px" *ngIf="getTotalItems() > 0"> {{getTotalItems() | projectCount }} selected</h2>
    <div class="alert alert-warning" role="alert" *ngIf="getTotalItems() === 0">
      Your collection is empty
    </div>

    <div class="table-responsive col-lg-12" *ngIf="getTotalItems()>0" style="max-height:600px">
      <table class="table table-condensed table-bordered table-hover ngCart cart">
        <thead>
          <tr>
            <th style="width: 7%;">Name</th>
            <th style="width: 64%;">Description</th>
            <th style="width: 15%;">Creation Date</th>
            <th style="width: 5%;">Size</th>
            <th style="width: 7%;">Origin</th>
            <th style="width: 5%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of toAdd">
            <td style="white-space: pre-wrap;" style="width: 7%;">{{project.name}}</td>
            <td style="white-space: pre-wrap;" style="width: 64%;">{{project.description}}</td>
            <td style="width: 15%;">{{project.creationDate | date:'short'}}</td>
            <td style="width: 5%;">{{project.size | fileSize}}</td>
            <td style="width: 7%;">{{project.htmlUrl | siteName }}</td>
            <td style="width: 5%;">
              <button class="btn btn-sm btn-danger" (click)="removeItem(project.id)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-12 text-right" *ngIf="getTotalItems()>0">
      <button class="btn btn-success" (click)="addAll()">Add Selected Projects to a existing Collection</button>
      <button class="btn btn-success" (click)="createCollection()">Create New Collection</button>
      <button class="btn btn-danger" (click)="removeCart()">Remove all</button>
    </div>

  </div>

  <div>
    <br>
    <form #form="ngForm">
      <div class="search_bar">
        <input type="text" #query="ngModel" class="form-control" name="query" placeholder="use user:ownername for search by Repository Owner"
          required [(ngModel)]="model.query" class="search_align">
        <button type="submit" [disabled]="query.value === '' || query === undefined" (click)="search(model.query)" class="btn btn-success btn-sm align-middle">Search</button>
        <span>
          <button class="btn btn-success btn-sm align-middle"> Show Filtering Options</button>
          <button class="btn btn-success" *ngIf="false"> Hide Filtering Options</button>
        </span>
      </div>
    </form>
  </div>
  <br>
  <br>
  <br>
  <div class="wrapper" *ngIf="loadStatus()">
    <h2>Searching</h2>
    <span class="cssload-loader"></span>
  </div>

  <p class="alert alert-warning" *ngIf="results.length === 0 && searched && !loadStatus()">No results found</p>

  <div id="results" *ngIf="results.length>0">

    <div class="row">
      <div class="col-lg-12 text-right">
        <button class="btn btn-success" (click)="selectAll()">Select all</button>
        <button class="btn btn-danger" [disabled]="!isProjectSelected()" (click)="deselectAll()">Deselect all</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">




        <table class="table table-bordered table-striped table-hover table-style" style="table-layout:fixed;">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Creation Date</th>
              <th>Size</th>
              <th>Origin</th>

            </tr>
          </thead>
          <tbody>
            <tr style="cursor:pointer;" *ngFor="let row of results">
              <td style="width: 40%;" (click)="openSource(row)">{{row.name}}</td>
              <td (click)="openSource(row)">{{row.description }}</td>
              <td>{{row.creationDate | date:'short'}}</td>
              <td>{{row.size | fileSize}}</td>
              <td>{{row.htmlUrl | siteName}}</td>
              <td>
                <input type="checkbox" [(ngModel)]="row.singleSelection" (change)="select(row)" name="row.name" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
