.dropdown-toggle{
    cursor: pointer;
}
.img-click {
    cursor: pointer;
    margin-right: 20px;
}

.active-link {
    background-color:#45D9F6;
      
}
 .active-link .nav-link{
    color: black;
}
.dropdown-menu > a:hover{
    color: #45D9F6;
} 
.dropdown-menu > a:active{
    background-color:transparent;
}
#dropdown01{
    background-color:transparent;
}
