<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <img src="assets/abm_logo.jpg" class="img-click" routerLink="/" align="right" width="60px" height="60px" alt="ABM" >
    <ul class="navbar-nav mr-auto nav-pills">
      <li id="step0" *ngIf="loggedInStatus()" class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/collection">My Collections</a>
      </li>
      <li id="step1" class="nav-item" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/">Available collections</a>
      </li>
      <li id="step2" *ngIf="loggedInStatus()" class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/search">Create collection</a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li *ngIf="!loggedInStatus()" class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="loggedInStatus()" routerLinkActive="active-link">
        <button class="nav-link" mat-button [matMenuTriggerFor]="menu">{{username}}<mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
          </button>
          <button *ngIf="isAdmin()" mat-menu-item routerLink="/manageusers">
            <mat-icon>people</mat-icon>
            <span>Manage Users</span>
          </button>
          <button *ngIf="isAdmin()" mat-menu-item routerLink="/managePublicCollections">
            <mat-icon>collections</mat-icon>
            <span>Manage Available Collections</span>
          </button>
          <button *ngIf="isAdmin()" mat-menu-item routerLink="/pendingRequest">
            <mat-icon>email</mat-icon>
            <span>Pending requests</span>
          </button>
          <button mat-menu-item routerLink="/logout">
            <mat-icon>keyboard_tab</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>