<div class="container-fluid">
    <h2> Manage Users</h2>
  </div>
  
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>  
  
    <div class="mat-elevation-z8">
    
      <mat-table #table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="select">
              <th mat-header-cell class="selectCheckbox" *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell class="selectCheckbox" *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
  
            
  
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
        <!-- id Column -->
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
          <mat-cell *matCellDef="let element" class="navigateToCol"> {{element.username}} </mat-cell>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="firstname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element" class="navigateToCol"> {{element.firstname}} {{element.lastname}}  </mat-cell>
        </ng-container>
  
        <!-- Description Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email-id</mat-header-cell>
          <mat-cell *matCellDef="let element" class="navigateToCol"> {{element.email}} </mat-cell>
        </ng-container>
  
        <!-- Owner Column -->
        <ng-container matColumnDef="affiliation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Affiliation</mat-header-cell>
          <mat-cell *matCellDef="let element" class="navigateToCol"> {{element.affiliation}} </mat-cell>
        </ng-container>
  
        <!-- CreationDate Column -->
        
        <ng-container matColumnDef="Account_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Account status</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <div *ngIf="!element.locked" >
              Active
            </div>
            <div *ngIf="element.locked" >
                Locked
              </div>
          </mat-cell>
        </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="Lockaction">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
  
          <mat-cell *matCellDef="let row;">
  
            <div *ngIf="!row.locked">
              <button mat-icon-button color="red">
                <mat-icon (click)="lockUser(row)" aria-label="Lock" >lock</mat-icon>
              </button>
            </div>
  
            <div *ngIf="row.locked">
              <button mat-icon-button color="red">
                <mat-icon (click)="unlockUser(row)" aria-label="unLock" >lock_open</mat-icon>
              </button>
            </div>
  
            <div *ngIf="row.role === 'RegisteredUser'" >              
            <button mat-button [matMenuTriggerFor]="menu">User</button>
              </div>
              <div *ngIf="row.role === 'UserAdmin'" >              
                  <button mat-button [matMenuTriggerFor]="menu">Admin</button>
                    </div>
            <mat-menu #menu="matMenu" yPosition="below">
                  <ng-template matMenuContent>
              <button mat-menu-item (click)="updateRoletoUser(row)">User</button>
              <button mat-menu-item (click)="updateRoletoAdmin(row)">Admin</button>
              </ng-template>
            </mat-menu> 
  
            <button mat-icon-button>
              <mat-icon  aria-label="Delete" (click)="openDialog(row.username)">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
      </mat-table>

      <mat-toolbar>
        <mat-toolbar-row>
          <span><button mat-raised-button  (click)="deleteSelectedUsers()" class="button_alignR">Delete Selected Users</button></span>
          <span class="example-spacer"></span>
          <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </mat-toolbar-row>
      </mat-toolbar>

    </div>