.container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }