.red{color:red;}
.green{color:green;}

html, body, #wrapper {
  width: 100%;
  min-height: 100%;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-top: 8px;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.selectCheckbox{
  border-bottom-style: hidden;
}

.navigateToCol{
  cursor: pointer;
}

.button_alignR {
  position: relative;
  left: 12px;
  top: 30px;
}

.button_alignM {
  position: relative;
  left:20px;
  top: 30px;
}

.email {padding-right: 25px;}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #45D9F6
 !important;
 }
 ::ng-deep .mat-column-select {
  overflow: initial;
 } 

 ::ng-deep .mat-form-field-placeholder {
  color: #45D9F6
  !important;
  }
 
 ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
 background-color: #45D9F6
 !important;
 }

 ::ng-deep .mat-raised-button:hover {
  background-color:  #45D9F6
  !important;
     }
