<div class="col-md-6 col-md-offset-3" class="container">
  <h2>Register</h2>
  
  
  <form #form="ngForm" (submit)="registerForm(form)">

     

    <div class="form-group" [class.has-error] = "username.invalid && username.dirty">
        <label class="control-label" for ="username"> Username</label>
        <input #username="ngModel" type="text" class="form-control" name="username" required [(ngModel)]="model.username">
        <div *ngIf="username.invalid && username.dirty" class="alert alert-danger">Username is required</div>
    </div>

    <div class="form-group" [class.has-error] = "password.invalid && password.dirty">
        <label for ="password"> Password</label>
        <input #password="ngModel" type="password" class="form-control" name="password" required [(ngModel)]="model.password">
        <div *ngIf="password.invalid && password.dirty" class="alert alert-danger">Password is required</div>
    </div>

    <div class="form-group" [class.has-error] = "confirmpassword.dirty && (model.password != model.confirmpassword)">
        <label for ="confirmpassword">Confirm Password</label>
        <input #confirmpassword="ngModel" type="password" class="form-control" name="confirmpassword" required [(ngModel)]="model.confirmpassword">
        <div *ngIf="confirmpassword.dirty && (model.password != model.confirmpassword) " class="alert alert-danger">password do not match</div>
    </div>

    <hr>

    <div class="form-group">
        <label for ="name"> Name</label>
        <input type="text" class="form-control" name="name" required [(ngModel)]="model.name">
    </div>

    <div class="form-group">
        <label for ="affiliation"> Affiliation</label>
        <input type="text" class="form-control" name="affiliation" required [(ngModel)]="model.affiliation">
    </div>

    <!-- <div class="form-group" [class.has-error]= "email.dirty && (email.invalid || invalidEmail)">
        <label for ="email">Email Address</label>
        <input #email="ngModel" type="text"  class="form-control" name="email" (blur)="checkEmail(model.email)" required [(ngModel)]="model.email">
        <div *ngIf="email.invalid && email.touched" class="alert alert-danger">Your email address is required</div>  
        <div *ngIf="email.invalid && email.touched && invalidEmail" class="alert alert-danger">This is not a valid email address</div> 
    </div> -->

    <div class="form-group">
        <label for ="email">Email</label>
          <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"name="email" ngModel #emailref="ngModel">
          <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="aler alert-danger">
           <div [hidden]="emailref.errors?.pattren">
           <span class="help-block"> This is not a valid email address </span>  
           </div> 
          </div> 
    </div>

  
    

    <div class="text-right" style="margin-top: 10px">
        <button [disabled]= "form.invalid || (model.password != model.confirmpassword)" class="btn btn-primary">Submit</button>
    </div>
    <div class="wrapper" *ngIf="loading">
        <span class="cssload-loader"></span>
    </div>
  </form>

</div>    
