.red{color:red;}
.green{color:green;}

html, body, #wrapper {
  width: 100%;
  min-height: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-top: 8px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.selectCheckbox{
  border-bottom-style: hidden;
}

.navigateToCol{
  cursor: pointer;
}

.button_alignR {
  position: relative;
  left: 12px;
  top: 30px;
}

.button_alignM {
  position: relative;
  left:20px;
  top: 30px;
}

@media screen and (max-width: 600px) {
  .selectCheckbox{
    display: none;
  }
  .button_alignR{
    display: none;
  }
  .mobile-label {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .selectCheckbox{
    display: none;
  }
  .button_alignR{
    display: none;
  }
}

.mat-column-email {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.affiliation-margin {
  margin-left: 50px
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #45D9F6
 !important;
 }
 ::ng-deep .mat-column-select {
  overflow: initial;
 } 

 ::ng-deep .mat-form-field-placeholder {
  color: #45D9F6
  !important;
  }
 
 ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
 background-color: #45D9F6
 !important;
 }

 ::ng-deep .mat-raised-button:hover {
  background-color:  #45D9F6
  !important;
     }