<div class="container-fluid">
    <h2> Pending Request</h2>
    <div class="row">
</div>
</div>

<div class="container">

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <!-- Last_Name Column -->
  <ng-container matColumnDef="Last_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last_name </th>
    <td mat-cell *matCellDef="let element"> {{element.Last_name}} </td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="Username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.Username}} </td>
  </ng-container>

  <!-- Email_id Column -->
  <ng-container matColumnDef="Email_id" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email_id </th>
    <td mat-cell *matCellDef="let element"> {{element.Email_id}} </td>
  </ng-container>

    <!-- City Column -->
  <ng-container matColumnDef="City" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
    <td mat-cell *matCellDef="let element"> {{element.City}} </td>
  </ng-container>

    <!-- Affilation Column -->
  <ng-container matColumnDef="Affilition" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Affilition </th>
    <td mat-cell *matCellDef="let element"> {{element.Affilition}} </td>
  </ng-container>

   <!-- Action Column -->
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" >
                <mat-icon aria-label="Done" (click)="openDialog()">done</mat-icon>
                </button>
        
                <button mat-icon-button color="warn" >
                  <mat-icon aria-label="Clear">clear</mat-icon>
                </button>
              </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>