.container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

table {
  width: 100%;
}



mat-form-field {
  font-size: 14px;
  width: 100%;
}