<h2> Pending Request</h2>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell class="selectCheckbox" *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell class="selectCheckbox" *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
      </ng-container>

      <!-- LastName Column -->
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
      </ng-container>

      <!-- UserName Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
      </ng-container>

      <!-- EmailId Column -->
      <ng-container matColumnDef="email" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>    

        <!-- Affilation Column -->
      <ng-container matColumnDef="affiliation" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Affilition </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.affiliation}} </mat-cell>
      </ng-container>

      <!-- Approve Column -->
      <ng-container matColumnDef="Approve">
        <mat-header-cell *matHeaderCellDef> Approve </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;">
                    <button mat-icon-button color="accent" >
                    <mat-icon class="green" aria-label="Done" (click)="approveUser(row.username)">done</mat-icon>
                    </button>
                  </mat-cell>
      </ng-container>

      <!-- Reject Column -->              
      <ng-container matColumnDef="Reject">
        <mat-header-cell *matHeaderCellDef> Reject </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;">
                    <button mat-icon-button color="warn" >
                      <mat-icon class="red" aria-label="Clear" (click)="rejectUser(row.username)">clear</mat-icon>
                    </button>
                  </mat-cell>
      </ng-container>

    <mat-header-row row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row >

  </mat-table>

  <mat-toolbar>
      <mat-toolbar-row>
        <button mat-raised-button  (click)="approveSelectedUsers()" class="button_alignR">Approve Request</button>
        <button mat-raised-button (click)="rejectSelectedUsers()" class="button_alignM">Reject Request</button>
        <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </mat-toolbar-row>
  </mat-toolbar>

</div>
      