<div class="col-md-6 col-md-offset-3" class="container">
  <h2>Confirm Your Username/E-mail</h2>

  <form #form="ngForm" (submit)="resetPassword(form)" class="username-margin">
    <b>Enter your Email or Username</b>
    <div class="form-group username-margin container-width" [class.has-error]=" username.invalid && username.dirty">
      <label for="username"> Username/Email</label>
      <input #username="ngModel" type="text" class="form-control" name="username" required [(ngModel)]="model.username" id="username">
      <div *ngIf="username.errors &&(username.touched || username.dirty)" class="aler alert-danger">
          <div [hidden]="username.errors?.pattren">
            <span class="help-block"> Enter a valid email address </span>
          </div>
        </div>
    </div>

    <div>
      
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-margin"> Confirm</button>
      
    </div>
  
  </form>
    
</div>
