<div class="col-md-6 col-md-offset-3" class="container">
  <h2>Reset Password</h2>

  <form #form="ngForm" (submit)="resetPassword(form)" class="username-margin">
    <b>Enter your Email or Username</b>
    <div class="form-group username-margin container-width" [class.has-error]=" usernameEmail.invalid && usernameEmail.dirty">
      <label for="usernameEmail"> Username/Email</label>
      <input #usernameEmail="ngModel" type="text" class="form-control" name="usernameEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required [(ngModel)]="model.usernameEmail" id="usernameEmail">
      <div *ngIf="usernameEmail.errors &&(usernameEmail.touched || usernameEmail.dirty)" class="aler alert-danger">
          <div [hidden]="usernameEmail.errors?.pattren">
            <span class="help-block"> Enter a valid email address </span>
          </div>
        </div>
    </div>

    <div>
      
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-margin"> Confirm</button>
      
    </div>
  
  </form>
    
</div>
