
/* Sidebar to display builds */
.sidebar {
    position: fixed;
    top: 150px;
    right: -1px;
  }
  
  .sidebar span {
    background-color: #e0e0e0;
    border-left: black solid 1px;
    display: block;
    float: left;
    padding: 8px 3px 8px 2px;
  }
  
  .sidebar span:focus, .sidebar span:hover {
    background-color: darkgray;
  }
  
  .sidebar .sidebarTab {
    background-color: #f5f5f5;
    border: solid black;
    border-width: 1px;
    border-radius: 5px 0px 0px 5px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .sidebar .sidebarTab.selected{
    background-color: white;
    border-left: white;
  }
  
  .sidebar .sidebarTab:focus, .sidebar .sidebarTab:hover {
    background-color: lightgray;
  }
  
  .sidebar .sidebarTab a{
    display: block;
    color: black;
    padding: 5px;
    width: 120px;
  }
  
  .sidebar .sidebarTab a:focus, .sidebar .sidebarTab a:hover {
    text-decoration: none;
  }
  
  /* Allows a modal window to appear from the right */
  .modal.fade {
    opacity: 1;
  }
  
  .modal.fade:not(.in).side .modal-dialog {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  
  .modal-sidebar{
    top: 120px;
    right: calc(100% - 1px);
  }
  
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }