<section>
  <div *ngIf="loggedInStatus()">
    <h2>My Collections</h2>
    <hr>
    <p class="alert alert-warning" *ngIf="userCollections[0]===undefined">You have no collections. To create a new collection, collect projects using the search feature and create a collection
      from them in the Projects tab or clone an existing collection.</p>
  </div>
  <br>

  <div class="input-group mb-3 ">
    <div class="input-group-prepend" ngbDropdown>
      <button class="btn btn-outline-secondary" ngbDropdownToggle type="button">Filter By: {{filterType}}</button>
      <ul style="cursor:pointer;" ngbDropdownMenu class="dropdown-menu" aria-labelledby="simple-dropdown">
        <li>
          <button class="dropdown-item" (click)="setFilterType('name')">Name</button>
          <button class="dropdown-item" (click)="setFilterType('description')">Description</button>
          <button class="dropdown-item" (click)="setFilterType('builtStatus')">BuiltStatus</button>
          <button class="dropdown-item" (click)="setFilterType('privateStatus')">PrivateStatus</button>
        </li>
      </ul>
    </div>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
  </div>

  <br>
  <br>

  <p-table *ngIf="!(userCollections[0]===undefined)" #collectionDt [value]="filteredCollections"  [columns]="collectionColumns" [scrollable]="true" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of collectionColumns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  
<ng-template pTemplate="body" let-row>
  <tr style="cursor:pointer;" (contextmenu)="onContextMenu($event, row)" [contextMenu]="basicMenu" [contextMenuSubject]="row">
    <td (click)="open(row)">{{row.name}}</td>
    <td (click)="open(row)">{{row.description}}</td>
    <td (click)="open(row)">{{row.creation_date | date:'short'}}</td>
    <td>{{row.id}}</td>
    <td> {{row.builtStatus | builtStatus}}
    </td>
    <td>{{row.privateStatus | privateStatus}}</td>
  </tr>
</ng-template>

</p-table>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

  <!-- <table class="table table-bordered  table-striped table-hover table-responsive-sm table-md" style="max-height:400px;max-width:2500px;table-layout:flexible;"
    *ngIf="hasCollections">
    <thead class="thead-light">
      <tr style="cursor:pointer;">
        <th (click)="setSortType('name')">Name
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th (click)="setSortType('description')">Description
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th (click)="setSortType('creation_date')">Creation Date
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th (click)="setSortType('id')">Id
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th (click)="setSortType('builtStatus')">Built Status
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th (click)="setSortType('privateStatus')">Private Status
          <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor:pointer;" (contextmenu)="onContextMenu($event, row)" *ngFor="let row of filteredCollections | orderBy: SortType:reverse:'case-insensitive'" [contextMenu]="basicMenu"
        [contextMenuSubject]="row">
        <td (click)="open(row)">{{row.name}}</td>
        <td (click)="open(row)">{{row.description}}</td>
        <td (click)="open(row)">{{row.creation_date | date:'short'}}</td>
        <td>{{row.id}}</td>
        <td> {{row.builtStatus | builtStatus}}
        </td>
        <td>{{row.privateStatus | privateStatus}}</td>
        
      </tr>
    </tbody>
  </table> -->
  
  <context-menu>
      <ng-template  #basicMenu   >
        Make Public
      </ng-template>
    </context-menu>