<div *ngIf="loggedInStatus()">
  <h2>My Collections</h2>
  <hr>
  <p class="alert alert-warning" *ngIf="userCollections[0]===undefined">You have no collections. To create a new
    collection, collect projects using the search feature and create a collection
    from them in the Projects tab or clone an existing collection.</p>
</div>

<mat-form-field *ngIf="userCollections[0]!==undefined">
  <input id="filter_data" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table *ngIf="userCollections[0]!==undefined" mat-table class="fullwidth" [dataSource]="dataSource"
  multiTemplateDataRows matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
    <mat-cell *matCellDef="let element" class="navigateToCol" (click)="open(element)"> {{element.id}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element" class="navigateToCol" (click)="open(element)">
      {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
    <mat-cell *matCellDef="let element" class="navigateToCol" (click)="open(element)">
      {{element.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </mat-header-cell>
    <mat-cell *matCellDef="let element" class="navigateToCol" (click)="open(element)">
      {{element.creation_date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="versions">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element; let row" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element; data = row">
      <button mat-stroked-button [ngClass]="'customOutline'">
        Show Versions
        <mat-icon *ngIf="expandedElement === element">arrow_drop_up</mat-icon>
        <mat-icon *ngIf="expandedElement != element">arrow_drop_down</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <table mat-table [dataSource]="data.versions" class="mat-elevation-z8 fullwidth">
          <ng-container matColumnDef="versionNo">
            <th mat-header-cell *matHeaderCellDef> Number </th>
            <td mat-cell *matCellDef="let version" class="navigateToCol" (click)="openVersion(data,version.id)">
              {{version.number}} </td>
          </ng-container>
          <ng-container matColumnDef="VersionID">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let version" class="navigateToCol" (click)="openVersion(data,version.id)">
              {{version.name}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let version">
              <div *ngIf="version.privateStatus">Private</div>
              <div *ngIf="!version.privateStatus">Public</div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Make Public </th>
            <td mat-cell *matCellDef="let version">
              <button class="makepublic" [disabled]="!version.privateStatus" mat-raised-button
                (click)="openDialog(element,version)">Make
                Public</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
      </div>
    </td>
  </ng-container>

  <!-- <mat-header-row row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-toolbar *ngIf="userCollections[0]!==undefined">
  <mat-toolbar-row>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>