<div class="container-fluid" *ngIf="!loading">
  <div class="parentversion"> Parent version:
    <a [routerLink]="" (click)="goToParent()">{{parentVersName}} @{{parentCollName}}</a>
  </div>
  <form class="material-form">
    <mat-form-field class="material-input-width">
      <mat-label>Collection Id</mat-label>
      <input id="id" matInput name="id" [(ngModel)]="collection[0].id" type="text" [disabled]=true class="form-control">
    </mat-form-field>
    <mat-form-field class="material-input-width">
      <mat-label>Name</mat-label>
      <input title="{{(isPublic()?' Cannot be modified if atleast one version contained is public' : '')}}" id="name"
        matInput name="name" [(ngModel)]="collection[0].name" type="text" [disabled]="isPublic()" class="form-control">
    </mat-form-field>
    <mat-form-field class="material-input-width">
      <mat-label>Description</mat-label>
      <textarea title="{{(isPublic()?' Cannot be modified if atleast one version contained is public' : '')}}" rows='3'
        id="description" matInput [(ngModel)]="collection[0].description" name="description" type="description"
        [disabled]="isPublic()" class="form-control">



      </textarea>
    </mat-form-field>
    <div class="form-actions float-right">
      <button mat-raised-button [hidden]="isPublic()" (click)="update(collection[0])"
        *ngIf="collection[0].privateStatus">
        Save Changes
      </button>
      <button mat-raised-button [hidden]="loading || saving || isPublic()" (click)="removeCollection(collection[0].id)">
        <i class="glyphicon glyphicon-trash"></i> Delete this collection</button>
    </div>

  </form>
  <span ngbDropdown>
    <button id="single-button" type="button" ngbDropdownToggle mat-raised-button [disabled]="disabled || saving">
      Version {{version.number}} &nbsp;&nbsp;&#8208;&nbsp;&nbsp; {{version.name}} &nbsp;&nbsp;&#8208;&nbsp;&nbsp; {{version.creationDate
      | date:'short'}}&nbsp;&nbsp;
      <span class="caret"></span>
    </button>
    <ul style="cursor:pointer;" ngbDropdownMenu class="dropdown-menu" aria-labelledby="simple-dropdown">
      <li *ngFor="let row of versions">
        <button class="dropdown-item" (click)="selectVersion(row)">{{row.number}} &nbsp;&nbsp;&#8208;&nbsp;&nbsp;
          {{row.name}} &nbsp;&nbsp;&#8208;&nbsp;&nbsp; {{row.creationDate |
          date:'short'}} </button>
      </li>
      <li class="dropdown-divider"></li>

      <li class="dropdown-item">
        <button class="dropdown-item" (click)="openDialog(version)">Derive new version from current version
          {{version.number}}
        </button>
      </li>
    </ul>

  </span>


  <div class="card-body">

    <br>
    <br>
    <div id="not-frozen" *ngIf="version.privateStatus" style="height:28px">
      <button mat-raised-button [disabled]="!version.privateStatus" (click)="addProject(version)">Add Projects to this
        version
      </button>

      <button mat-raised-button
        title="{{(versions.length <= 1?' Last contained version. Delete the collection instead.' : '')}}"
        [disabled]="loading || saving || versions.length <= 1 || !version.privateStatus"
        class="btn btn-sm btn-danger btn-mrgn" (click)="removeVersion(version.id)"><i
          class="glyphicon glyphicon-trash"></i> Delete this version</button>
      <button title="{{(!version.privateStatus?' This version is public' : '')}}" mat-raised-button
        [disabled]="!version.privateStatus" (click)="showConfirm(collection[0])" *ngIf="collection[0].privateStatus">
        Make this version public</button>
    </div>

    <div *ngIf="(!version.privateStatus) && (version.doi!=='')" >
     <span>This version is now available under the "Available collections" menu. </span>
      <br>     
     <span>
       Link to download: <a href="{{version.doi}}">{{version.doi}}</a> </span>
    </div>

  </div>
  <br>
  <table class="table table-bordered table-striped table-sm">
    <thead class="thead-light">
      <tr>
        <th>Project ID</th>
        <th [hidden]="!version.privateStatus "> Remove Projects</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of version.projects">
        <td>{{project.project_id}}</td>
        <td [hidden]="!version.privateStatus"
          title="{{(version.projects.length <= 1?' Last contained project. Delete the version instead.' : '')}}">
          <button mat-raised-button [disabled]="!version.privateStatus || version.projects.length <= 1"
            (click)="deleteProject(project)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button [disabled]="loading" (click)="back()">Back to Collections</button>
</div>