.mat-icon{
    color: white;
}

.container-fluid{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.thead-gray {
    color: gray;
}

.parentversion{
    float: right;
}

.material-form {
    min-width: 150px;
    width: 100%;
  }
  
  .material-input-width {
    width: 100%;
  }
  
  .btn-mrgn{
	margin: 0.75em 0 0.25em 0.65em;
}

.btn-mrgn:first{
    margin :  0.75em 0 0.25em 0em;
}
.card-body{
    padding: 1.25em 0;
}

::ng-deep .mat-raised-button:hover{
    background-color:#45D9F6
 
    !important;
  }