<div class="modal-lg ">
  <div class="modal-header">
     <h4 class="modal-title" id="modal-title">Select Filters to run</h4>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <ng-container *ngFor="let filter of filterList ; let i = index">
          <div class="col">
              <input type="checkbox" id={{filter.filtername}} [(ngModel)]="filter.activate"/>
              <label for={{filter.filtername}}> {{filter.filtername | hermesName}}</label> 
              <input type="text"  [(ngModel)]="filter.threshold" style="width:50px;"/>
              
          </div>
          <div *ngIf= "(i+2) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" type="button">Run Selected Filters</button>
    <button class="btn btn-warning float-left" type="button" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
  <div class="wrapper" *ngIf="loading">
      <span class="cssload-loader"></span>
    </div>
  <br/>
</div>