@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

table {
    width: 100%;
  }

  .row{
	  display: flex
  }
.column.is-12{
flex: 1 100%;
-moz-box-flex: 0 1 100%
}

.column.is-10{
	flex:0 1 83.333%;
	}
	.column.is-9{
		flex: 0 1 74.5%;
	}
	.column.is-8{
		flex:0 1 66.666%;
		
		}
		.column.is-4{
			flex: 0 1 33.333%;
			}
			.column.is-3{
				flex: 0 1 25%;
			}
			.column.is-2{
				flex: 0 1 16.666%;
				}
				
				.mat-form-field{
					display: block
				}	
				
				
.hide{
	display: none
}
.show{display: block}
  .box-padding{
	  padding: 30px;
  }
.mat-column-name{
	width : 70%;
}
.mat-column-htmlUrl{
	width: 10%;
}
 

.search_align{
	width:100%;
}
.heading_align{
	padding-left:20px;
}
.btn-left-mrgn{
	margin-left:0.25rem;
}

.ngCart.cart span[ng-click] {
	cursor: pointer;
}
.ngCart.cart .glyphicon.disabled {
	color:#aaa;
}

.table-style{
  
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}


.table-style td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.wrapper {
	padding-left: 1em;
	padding-right: 1em;
	margin: auto;
	/*display: block;*/
	width: 195px;
}

.cssload-loader {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin: 0em 3em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
	animation: 1.15s infinite ease-in-out;
		-o-animation: 1.15s infinite ease-in-out;
		-ms-animation: 1.15s infinite ease-in-out;
		-webkit-animation: 1.15s infinite ease-in-out;
		-moz-animation: 1.15s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.cssload-loader:before,
.cssload-loader:after {
		content: "";
}

.cssload-loader:before,
.cssload-loader:after {
		content: "";
		background-color: rgb(51,51,51);
		transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		animation: cssload-animation 0.8s infinite ease-in-out;
		-o-animation: cssload-animation 0.8s infinite ease-in-out;
		-ms-animation: cssload-animation 0.8s infinite ease-in-out;
		-webkit-animation: cssload-animation 0.8s infinite ease-in-out;
		-moz-animation: cssload-animation 0.8s infinite ease-in-out;
}
.cssload-loader:after { animation-delay: 0.4s;
		-o-animation-delay: 0.4s;
		-ms-animation-delay: 0.4s;
		-webkit-animation-delay: 0.4s;
		-moz-animation-delay: 0.4s; }



@keyframes cssload-animation {
	0%	 { transform: translateX(-100%) scale(0); }
	50%	{ transform: translateX(0%)		scale(1); }
	100% { transform: translateX(100%)	scale(0); }
}

@-o-keyframes cssload-animation {
	0%	 { -o-transform: translateX(-100%) scale(0); }
	50%	{ -o-transform: translateX(0%)		scale(1); }
	100% { -o-transform: translateX(100%)	scale(0); }
}

@-ms-keyframes cssload-animation {
	0%	 { -ms-transform: translateX(-100%) scale(0); }
	50%	{ -ms-transform: translateX(0%)		scale(1); }
	100% { -ms-transform: translateX(100%)	scale(0); }
}

@-webkit-keyframes cssload-animation {
	0%	 { -webkit-transform: translateX(-100%) scale(0); }
	50%	{ -webkit-transform: translateX(0%)		scale(1); }
	100% { -webkit-transform: translateX(100%)	scale(0); }
}

@-moz-keyframes cssload-animation {
	0%	 { -moz-transform: translateX(-100%) scale(0); }
	50%	{ -moz-transform: translateX(0%)		scale(1); }
	100% { -moz-transform: translateX(100%)	scale(0); }
}
.astrik_style {
	color: red;
	padding-top:4px;
	position:absolute;
}

.btn-mrgn{
	margin: 0.75em 0 0.25em 0.25em;
}

.search-input{
	line-height: 4em;
	margin-right: 0.25em;
}
.searh-btn-lh{
	line-height : 3.5em;
}