<h2> Public Collection</h2>
<hr>
  <div *ngIf="loggedInStatus()">
    <div *ngIf="!this.loading">

<h3> Pinned Collection</h3> 
<p *ngIf="(dataSourcePin.data[0] === undefined)" class="alert alert-warning">You have not pinned any collections yet.To pin a collection, Click the button next to it in the table below.</p>

<form class="example-form">
    <mat-form-field class="example-full-width">
    <input matInput (keyup)="applyFilterPin($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </form>

  <div *ngIf="dataSourcePin.data.length>0" class="example-container mat-elevation-z8 mat-table">
    <mat-table #table [dataSource]="dataSourcePin.data" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell class="selectCheckbox" *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterTogglePin() : null"
                            [checked]="selection.hasValue() && isAllSelectedPin()"
                            [indeterminate]="selection.hasValue() && !isAllSelectedPin()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell class="selectCheckbox" *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="creation_date">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.creation_date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="pin">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Unpin </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row; let i=index;">
      <button mat-raised-button class="btn btn-sm btn-primary" (click)="unpin(row)">Unpin</button>
  </mat-cell>
 </ng-container>

  <mat-header-row row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>  
    </mat-table>    
    </div>
    
<mat-toolbar>
  <mat-toolbar-row>
      <button mat-raised-button class="button_alignR" (click)="unpin(row)" >Unpin</button>
    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>

</div>

<div class="wrapper" *ngIf="this.loading">
  <h2>Loading...</h2>
  <span class="cssload-loader"></span>
</div>
<hr>
</div>

<div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput (keyup)="applyFilterPub($event.target.value)" placeholder="Search for collection">
            </mat-form-field>
          </form>

          <br>

          <div class="wrapper" *ngIf="this.loading">
            <h2>Loading...</h2>
            <span class="cssload-loader"></span>
          </div>

          <div>
              <p *ngIf="(dataSourcePub.data[0] === undefined)" class="alert alert-warning">No results found.</p>         
         
<div *ngIf="!(dataSourcePub.data[0] === undefined)" class="example-container mat-elevation-z8 mat-table">
    <mat-table #table [dataSource]="dataSourcePub.data" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell class="selectCheckbox" *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterTogglePub() : null"
                            [checked]="selection.hasValue() && isAllSelectedPub()"
                            [indeterminate]="selection.hasValue() && !isAllSelectedPub()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell class="selectCheckbox" *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="creation_date">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.creation_date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="pin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pin </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
          <button class="btn btn-primary btn-sm" mat-raised-button (click)="pin(row)" *ngIf="!row.dataSourcePin">Pin</button>
          <button class="btn btn-primary btn-sm" mat-raised-button (click)="unpin(row)" *ngIf="row.dataSourcePin">Unpin</button>
  </mat-cell>
  <mat-header-cell *ngIf="loggedInStatus()"></mat-header-cell>
 </ng-container>

  <mat-header-row row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>>  
    </mat-table> 
  </div>
 </div>
</div> 

<mat-toolbar>
  <mat-toolbar-row>
      <button mat-raised-button class="button_alignR">Pin</button>
    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>
