  <h2> Available collections for download</h2>
  <hr>
  <div *ngIf="loggedInStatus() && (dataSourcePub.data[0] !== undefined)">
    <div *ngIf="!this.loading">

   <div >
      <h3> Pinned collection</h3>
      <p *ngIf="(dataSourcePin.data[0] === undefined)" class="alert alert-warning">You have not pinned any collections
        yet.To pin a collection, Click the button Pin.</p>

      <div *ngIf="dataSourcePin.data.length>0">
        <mat-form-field class="example-full-width">
          <input id="filter_data1" matInput (keyup)="applyFilterPin($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div *ngIf="dataSourcePin.data.length>0" class="example-container mat-elevation-z8 mat-table">
          <mat-table #table [dataSource]="dataSourcePin" matSort multiTemplateDataRows>

            <ng-container matColumnDef="select">
              <th mat-header-cell class="selectCheckbox" *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterPinToggle() : null"
                  [checked]="pinselection.hasValue() && isAllPinSelected()"
                  [indeterminate]="pinselection.hasValue() && !isAllPinSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell class="selectCheckbox" *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? pinselection.toggle(row) : null"
                  [checked]="pinselection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element" (click)="view(element.id)" class="view"> {{element.name}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
              <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element" (click)="view(element.id)" class="view">
                {{element.description}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="creation_date">
              <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element" (click)="view(element.id)" class="view">
                {{element.creation_date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
              <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element" (click)="view(element.id)" class="view"> {{element.id}}
              </mat-cell>
            </ng-container>

            <div *ngIf="loggedInStatus()">
              <ng-container matColumnDef="pin">
                <mat-header-cell *matHeaderCellDef> Unpin </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row; let i=index;">
                  <button mat-raised-button (click)="unpin(row)">Unpin</button>
                </mat-cell>
              </ng-container>
            </div>
            <ng-container matColumnDef="versions">
              <mat-header-cell *matHeaderCellDef> Versions </mat-header-cell>
              <mat-cell *matCellDef="let element; let row" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element; dataPin = row.versions">
                <button mat-stroked-button [ngClass]="'customOutline'">Show versions
                  <mat-icon *ngIf="expandedElement === element">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="expandedElement != element">arrow_drop_down</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element">
                <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <table mat-table [dataSource]="dataPin" class="mat-elevation-z8 fullwidth">
                    <ng-container matColumnDef="versionNo">
              <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Number </th>
              <td mat-cell *matCellDef="let element" class="navigateToCol" (click)="openVersion(dataPin,element.id)">
                {{element.number}}</td>
            </ng-container>
            <ng-container matColumnDef="VersionID">
              <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element" class="navigateToCol" (click)="openVersion(dataPin,element.id)">
                {{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="DoI">
              <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Zenodo DoI Reference </th>
              <td mat-cell *matCellDef="let element">
                {{element.doi}} 
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
        </div>
        </td>
        </ng-container>
        multiTemplateDataRows
        <mat-header-row row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </mat-table>

        <mat-toolbar>
          <mat-toolbar-row>
            <button mat-raised-button [disabled]="isPinselected()" id="buttonL" (click)="UnpinSelectedCollections()"
              class="button_alignR">UnPin selected collections</button>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [length]="dataSourcePin.data.length">
            </mat-paginator>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>

    </div>

  </div>
  </div>
  <div class="wrapper" *ngIf="this.loading">
    <h2>Loading...</h2>
    <span class="cssload-loader"></span>
  </div>
  <hr>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input id="filter_data1" matInput (keyup)="applyFilterPub($event.target.value)"
        placeholder="Search for collection">
    </mat-form-field>
    <br>

    <div class="wrapper" *ngIf="this.loading">
      <h2>Loading...</h2>
      <span class="cssload-loader"></span>
    </div>

    <div>
      <p *ngIf="(dataSourcePub.data[0] === undefined)" class="alert alert-warning">No collection is available for download.</p>

      <div *ngIf="!(dataSourcePub.data[0] === undefined)" class="example-container mat-elevation-z8 mat-table">
        <mat-table #table [dataSource]="dataSourcePub" matSort multiTemplateDataRows>

          <ng-container matColumnDef="select">
            <th mat-header-cell class="selectCheckbox" *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell class="selectCheckbox" *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" class="view" (click)="open(element)"> {{element.name}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" class="view" (click)="open(element)"> {{element.description}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="creation_date">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" class="view" (click)="open(element)"> {{element.creation_date}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="id">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" class="view" (click)="open(element)"> {{element.id}}
            </mat-cell>
          </ng-container>

          <div *ngIf="loggedInStatus()">
            <ng-container matColumnDef="pin">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Pin </mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;">
                <button mat-raised-button id="buttonR" (click)="pin(row)" *ngIf="!row.dataSourcePin">Pin</button>
                <button mat-raised-button (click)="unpin(row)" *ngIf="row.dataSourcePin">Unpin</button>
              </mat-cell>
              <mat-header-cell *ngIf="loggedInStatus()"></mat-header-cell>
            </ng-container>
          </div>

          <ng-container matColumnDef="versions">
            <mat-header-cell *matHeaderCellDef> Versions </mat-header-cell>
            <mat-cell *matCellDef="let element; let row" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element; dataPub = row.versions">
              <button mat-stroked-button [ngClass]="'customOutline'">Show versions
                <mat-icon *ngIf="expandedElement === element">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="expandedElement != element">arrow_drop_down</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <table mat-table [dataSource]="dataPub" class="mat-elevation-z8 fullwidth">
                  <ng-container matColumnDef="versionNo">
            <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Number </th>
            <td mat-cell *matCellDef="let element" class="navigateToCol" (click)="openVersion(dataPub,element.id)">
              {{element.number}}</td>
          </ng-container>
          <ng-container matColumnDef="VersionID">
            <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" class="navigateToCol mat-cell-DoI" (click)="openVersion(dataPub,element.id)">
              {{element.name}}</td>
          </ng-container>
          <ng-container matColumnDef="DoI">
            <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Zenodo DoI Reference </th>
            <td mat-cell *matCellDef="let element" class="navigateToCol mat-cell-DoI" >
             <a href="{{element.doi}}" > {{element.doi}}</a></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
          </table>
      </div>
      </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </mat-table>
      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-raised-button [disabled]="isselected()" id="buttonL" (click)="pinSelectedCollections()"
            class="button_alignR">Pin selected collections</button>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataSourcePub.data.length" showFirstLastButtons>
          </mat-paginator>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  </div>