<h4>User Profile</h4>

<form #form="ngForm" class="material-form" (submit)="saveChanges(form)">
  <mat-form-field class="material-input-width">
    <mat-label>First name</mat-label>
    <input matInput placeholder="Enter First Name" name="fname" [(ngModel)]="model.firstname" required>
  </mat-form-field>
  <mat-form-field class="material-input-width">
    <mat-label>Last name</mat-label>
    <input matInput placeholder="Enter Last Name" name="lname" [(ngModel)]="model.lastname" required>
  </mat-form-field>
  <mat-form-field class="material-input-width">
    <mat-label>User Name</mat-label>
    <input matInput disabled #username="ngModel" (blur)="checkSpace(username)" placeholder="Enter User Name"
      name="username" [(ngModel)]="model.username" required>
    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">Username is required</div>
    <div *ngIf="invalidUsername" class="alert alert-danger">Username already exists</div>
    <div class="alert alert-danger" *ngIf="cannotContainSpace"> Username cannot contain space</div>
  </mat-form-field>
  <mat-form-field class="material-input-width">
    <mat-label>Email</mat-label>
    <input matInput #email="ngModel" placeholder="Enter Email address" class="form-control"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" required [(ngModel)]="model.email">
    <div *ngIf="email.errors &&(email.touched || email.dirty)" class="aler alert-danger">
      <div>
        <span class="help-block"> Enter a valid email address </span>
      </div>
    </div>
  </mat-form-field>
  <mat-form-field class="material-input-width">
    <mat-label>Affiliation</mat-label>
    <input matInput #affiliation="ngModel" placeholder="Company / University / Institution belongs to"
      name="Affiliation" [(ngModel)]="model.affiliation" required>
    <div *ngIf="affiliation.touched && affiliation.invalid" class="alert alert-danger"> This field can not be empty.
    </div>
  </mat-form-field>
  <div class="clearfix">
    <button type="submit" mat-raised-button [disabled]="form.invalid" class="signupbtn">Save Changes</button>
  </div>
</form>

<form #form1="ngForm" class="material-form" (submit)="savePassword(form1)">
  <mat-form-field class="material-input-width">
    <mat-label>Old Password</mat-label>
    <input matInput #oldpassword="ngModel" type="password" placeholder="Enter your Password" name="oldpassword"
      [(ngModel)]="oldPassword" required>
  </mat-form-field>

  <mat-form-field class="material-input-width">
    <mat-label>New Password</mat-label>
    <input matInput #newpassword="ngModel" type="password" placeholder="Enter New Password" name="newpassword"
      [(ngModel)]="newPassword" required>
    <div *ngIf="newpassword.dirty && model.oldpassword == newPassword" class="alert alert-danger"> new password should
      be different from old password </div>
  </mat-form-field>

  <mat-form-field class="material-input-width">
    <mat-label>Retype - Password</mat-label>
    <input matInput #confirmpassword="ngModel" type="password" placeholder="Confirm New Password"
      name="confirmnewpassword" [(ngModel)]="confirmNewPassword" required>
    <div *ngIf="confirmpassword.dirty && (newPassword != confirmNewPassword) " class="alert alert-danger">password
      do not match</div>
  </mat-form-field>
  <div class="clearfix">
    <button type="submit" mat-raised-button [disabled]="form1.invalid" class="btn btn-success">Submit</button>


    <div>
      <button type="button" mat-raised-button class="cancelbtn" (click)="deleteUser()">Delete Account</button>
      <h3>Be careful. This action is irreversible</h3>

    </div>
  </div>
</form>