.form-control.ng-touched.ng-invalid { 

    border: 2px solid red;
}

.required::after{
    content:'*';
    color: red;
}

.material-form {
    min-width: 150px;
    width: 100%;
  }
  
  .material-input-width {
    width: 100%;
  }