<div class="col-md-6 col-md-offset-3" class="container">
  <h2>Register</h2>


  <form #form="ngForm" class="material-form" (submit)="registerForm(form)">
    <mat-form-field class="material-input-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter username" #username="ngModel" type="text" name="username" (blur)="checkSpace(username)"
        [(ngModel)]="model.username" (ngModelChange)="resetUsername($event)" required>
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">Username is required</div>
      <div *ngIf="invalidUsername" class="alert alert-danger">Username already exists</div>
      <div class="alert alert-danger" *ngIf="cannotContainSpace"> Username cannot contain space</div>
    </mat-form-field>

    <mat-form-field class="material-input-width" [class.invalid]="password.touched && password.invalid">
      <mat-label>Password</mat-label>
      <input matInput #password="ngModel" type="password" placeholder="Enter your Password" name="password" [(ngModel)]="model.password"
        required>
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required</div>
    </mat-form-field>


    <mat-form-field class="material-input-width" [class.invalid]="confirmpassword.dirty && (model.password != model.confirmpassword)">
      <mat-label>Confirm Password</mat-label>
      <input matInput #confirmpassword="ngModel" type="password" placeholder="Repeat your Password" name="confirmpassword"
        [(ngModel)]="model.confirmpassword" required>
      <div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="alert alert-danger">Confirm Password field
        is required</div>
      <div *ngIf="confirmpassword.dirty && (model.password != model.confirmpassword) " class="alert alert-danger">password
        do not match</div>
    </mat-form-field>




    <mat-form-field class="material-input-width">
      <mat-label>First name</mat-label>
      <input matInput #firstname="ngModel" type="text" placeholder="Enter First Name" name="firstname" [(ngModel)]="model.firstname"
        required>
      <div *ngIf="firstname.touched && firstname.invalid" class="alert alert-danger">First Name is required</div>
    </mat-form-field>

    <mat-form-field class="material-input-width">
      <mat-label>Last name</mat-label>
      <input matInput #lastname="ngModel" type="text" placeholder="Enter Last Name" name="lastname" [(ngModel)]="model.lastname"
        required>
      <div *ngIf="lastname.touched && lastname.invalid" class="alert alert-danger">Last Name is required</div>
    </mat-form-field>

    <mat-form-field class="material-input-width">
      <mat-label>Affiliation</mat-label>
      <input matInput #affiliation="ngModel" type="text" placeholder="Organization/Institution belongs to..." name="affiliation"
        [(ngModel)]="model.affiliation" required>
      <div *ngIf="affiliation.touched && affiliation.invalid" class="alert alert-danger">Affiliation is required</div>
    </mat-form-field>

    <mat-form-field class="material-input-width">
      <mat-label>Email</mat-label>
      <input matInput #emailref="ngModel" placeholder="Enter Email address" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        id="email" name="email" required [(ngModel)]="model.email">
      <div *ngIf="emailExists" class="alert alert-danger">Email already exists</div>
      <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
        <div [hidden]="emailref.errors?.pattren">
          <span class="help-block"> Enter a valid email address </span>
        </div>
      </div>
    </mat-form-field>

    <!-- <div class="form-group">
      <label class="control-label required" for="email">Email</label>
      <div class="input-group mb3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input #emailref="ngModel" type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          id="email" name="email" required [(ngModel)]="model.email">
      </div>
      <div *ngIf="emailExists" class="alert alert-danger">Email already exists</div>
      <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
        <div [hidden]="emailref.errors?.pattren">
          <span class="help-block"> Enter a valid email address </span>
        </div>
      </div>
    </div> -->

    <div class="float-left" style="margin-top: 10px">
      <button mat-raised-button type="submit" [disabled]="form.invalid || (model.password != model.confirmpassword)"
        class="btn btn-primary">Submit</button>
    </div>
    <div class="wrapper" *ngIf="loading">
      <span class="cssload-loader"></span>
    </div>
  </form>

</div>