<!-- <div>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Select a Commit</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="panel with-nav-tabs panel-primary">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#branches" data-toggle="tab">Branches</a>
          </li>
          <li>
            <a href="#tags" data-toggle="tab">Tags</a>
          </li>
          <li>
            <a href="#commits" data-toggle="tab">Commits</a>
          </li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="branches">Primary 1</div>
          <div class="tab-pane fade" id="tags">Primary 2</div>
          <div class="tab-pane fade" id="commits">Primary 3</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
  <div class="wrapper" *ngIf="loading">
    <span class="cssload-loader"></span>
  </div>
  <br/>
</div> -->


<div>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Select a Commit</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <ngb-tabset>
      <ngb-tab title="Branches">
       <!--  <ng-template ngbTabContent>
          <ul *ngIf="!loading">
            <li *ngFor="let branch of branches">
              <a style="cursor: pointer;" (click)="switchCommit(branch.commit)">
                <strong style="font-family: monospace">{{branch.commit}}</strong> - {{branch.name}}</a>
            </li>
          </ul>
        </ng-template> -->
        <ng-template ngbTabContent>
          
            <p-table  #branchDt [value]="branches"  [columns]="branchCols" [scrollable]="true" [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">        
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Search Branches" (input)="branchDt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
              
            <ng-template pTemplate="body" let-branch>
              <tr>
                 <td> <a style="cursor: pointer;" (click)="switchCommit(branch.commit)">
                    <strong style="font-family: monospace">{{branch.commit}}</strong> - {{branch.name}}</a>
                  </td>
    
              </tr>
          </ng-template>
        
            </p-table>
          </ng-template>
      </ngb-tab>
      <ngb-tab title="Tags">
        <!-- <ng-template ngbTabContent>
          <ul *ngIf="!loading">
            <li *ngFor="let tag of tags">
              <a style="cursor: pointer;" (click)="switchCommit(tag.commit)">
                <strong style="font-family: monospace">{{tag.commit}}</strong> - {{tag.name}}</a>
            </li>
          </ul>
        </ng-template> -->
        <ng-template ngbTabContent>
          
            <p-table  #tagsDt [value]="tags"  [columns]="tagCols" [scrollable]="true" [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">        
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Search Tags" (input)="tagsDt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
              
            <ng-template pTemplate="body" let-tag>
              <tr>
                 <td> <a style="cursor: pointer;" (click)="switchCommit(tag.commit)">
                    <strong style="font-family: monospace">{{tag.commit}}</strong> - {{tag.name}}</a>
                  </td>
    
              </tr>
          </ng-template>
          </p-table>
          </ng-template>
      </ngb-tab>
      <ngb-tab title="Commits">
        <!-- <ng-template ngbTabContent>
          <div class="scrollmenu">
            <ul *ngIf="!loading">
              <li *ngFor="let commit of commits">
                <a style="cursor: pointer;" (click)="switchCommit(commit.commitId)">
                  <strong style="font-family: monospace">{{commit.commitId}}</strong> - {{commit.creationDate}} - {{commit.message}}</a>
              </li>
            </ul>
               <div>
                  <button class="alignbtn btn btn-primary btn-sm" (click)="loadPrevCommitPage()" [disabled]="!(page > 1)">Previous</button>
                  <button class="alignbtn btn btn-primary btn-sm" (click)="loadNextCommitPage()" >Next</button>
               </div>
				       <br><br>
           
          </div>
        </ng-template> -->
        <ng-template ngbTabContent>
          
        <p-table  #dt [value]="commits"  [columns]="cols" [scrollable]="true" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div style="text-align: right">        
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Search commitId" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </ng-template>
          
        <ng-template pTemplate="body" let-commit>
          <tr>
             <td> <a style="cursor: pointer;" (click)="switchCommit(commit.commitId)">
                <strong style="font-family: monospace">{{commit.commitId}}</strong>
                 - {{commit.creationDate}} - {{commit.message}}</a></td>

          </tr>
      </ng-template>
    
        </p-table>
      </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
  <div class="wrapper" *ngIf="loading">
    <span class="cssload-loader"></span>
  </div>
  <br/>
</div>